body{
  background: #000;
  color: #fff;
  font-family: monospace;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
p, a{
  display: inline;
  margin: 0px 0px;
}
.item{
  background: #fff;
  color: #000000;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.unchecked{
  background: #f25;
  cursor: pointer;
  user-select: none;
}
.checked{
  background: #1d7;
  cursor: pointer;
  user-select: none;
}
h1{
  background: #fff;
  color: #000;
  display: inline-block;
  font-size: 2rem;
}
span{
  background: #ff0;
}
.note{
  padding: 0 1rem;
}
.remove{
  padding: 0 1rem;
  background: #25c;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
